body {
    padding-top: 20px;
}

.alerts-container {
    overflow-y: auto;
}

.alerts-container.with-overflow {
    overflow-y: scroll;
    height: 105px !important;
}

.options-td {
    width: 5%;
    white-space: nowrap;
}

.modal-header {
    background-image: linear-gradient(to bottom, #fff 5px, #ccc 100%);
    background-clip: border-box;
}

.panel-heading,
.modal-title {
    font-weight: 400;
    text-transform: capitalize;
}

.pointer,
[data-ng-click],
.panel-heading,
.clear-filter {
    cursor: pointer;
}

.panel-heading > button.pull-right {
    margin-top: -6px;
}

@media screen and (max-width: 400px) {
    table th:not(:first-of-type):not(:nth-of-type(2)):not(:last-of-type),
    table td:not(:first-of-type):not(:nth-of-type(2)):not(:last-of-type) {
        display: none;
    }
}